.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(211, 91, 52);
}

hr.solid {
  border-top: 3px solid #bbb;
  width: 98%;
  border-color: rgb(211, 91, 52);
}

h2.title {
  margin-bottom: 0;
  text-align: center;
}

div.navBar{
  padding-left: 2%;
}