.App-header {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
}

hr.solid {
  border-top: 3px solid #bbb;
  width: 98%;
  border-color: rgb(211, 91, 52);
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

h2.title {
  text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(211, 91, 52) !important;
  color: black !important;
  border-color: black !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: rgb(211, 91, 52) !important
}

.accordion-button {
  background-color: rgb(211, 91, 52) !important;
  color: black !important;
  border-color: none;
}

.accordion-body {
  background-color: rgb(211, 91, 52) !important;
  color: black !important;
}

a:link{
  color: black
}

a:visited{
  color: black
}